[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[requires]
python_version = "3.5"

[packages]
tweepy = "*"
Django = "*"
gunicorn = "*"
django-heroku = "*"

[dev-packages]

[scripts]
server = "python manage.py runserver"